<div class="container-fluid">
    <h1>
        <webpage-type-icon ng-model="page.type"></webpage-type-icon>
        {{page.url}}
        <a class="btn btn-primary" href="{{page.url}}" target="_blank">
            <span class="glyphicon glyphicon-new-window"></span>
            Display
        </a>
        <a class="btn btn-default" href="{{generateSimulationLink()}}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Back
        </a>
    </h1>

    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">General Information</div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><span class="glyphicon glyphicon-info-sign"></span> HTTP Status</dt>
                    <dd><code>{{page.httpStatus}}</code></dd>
                    <dt><span class="glyphicon glyphicon-comment"></span> Title</dt>
                    <dd>{{page.title}}</dd>
                </dl>
            </div>
        </div>
    </div>

    <div ng-show="page.type == 'REDIRECTION'">
        <div class="panel panel-info">
            <div class="panel-heading">Redirects to</div>
            <div class="panel-body">
                <a href="{{generatePageLink(page.targetUrl)}}">{{page.targetUrl}}</a>
                <a class="btn btn-primary" href="{{page.targetUrl}}" target="_blank">
                    <span class="glyphicon glyphicon-new-window"></span>
                    Display
                </a>
            </div>
        </div>
    </div>

    <div ng-show="page.type == 'HTML'">
        <div class="panel  panel-info">
            <div class="panel-heading">Page Contents</div>
            <div class="panel-body">
                <pre class="pre-scrollable" ng-bind="page.body"></pre>
            </div>
        </div>
        <div class="panel  panel-info">
            <div class="panel-heading">
                Page Links
                <span class="badge">{{page.links.length}}</span>
            </div>
            <ul class="list-group">
                <li ng-repeat="link in page.links" class="list-group-item">
                    <a ng-href="{{generatePageLink(link)}}">
                        {{link}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
