<h1>{{simulation.name}}</h1>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            Properties
            <button type="button" class="btn btn-danger" ng-click="delete()">Remove</button>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" title="Entry URL">
                    <span class="glyphicon glyphicon-flag"></span>
                    <a ng-href="{{simulation.entryUrl}}">{{simulation.entryUrl}}</a>
                </li>
                <li class="list-group-item" title="URL count">
                    <span class="glyphicon glyphicon-th-list"></span>
                    {{pages.length}} pages
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="search" ng-model="url_search" placeholder="Filter URL" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>URL</th>
                <th>Page Title</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="page in (pages | filter:{url: url_search} )"
                ng-class="{info: page.type == 'REDIRECTION', warning: page.type == 'UNREACHABLE'}">
                <td>{{page.url}}</td>
                <td>{{get_page_title(page)}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>