<div class="container">
    <h1>
        List of Simulations
        <button type="button" class="btn btn-primary btn-sm" ng-click="createSimulation()"
                ng-show="!newSimulation" id="createSimulationButton">
            Create a New Simulation
        </button>
    </h1>

    <div>
        <form role="form" class="form-horizontal" ng-show="newSimulation" ng-submit="addNewSimulation()"
                id="newSimulationForm">
            <p class="text-muted">Create a new simulation</p>

            <div class="form-group"
                 ng-class="{'has-error': !isNewSimulationNameValid(), 'has-success': isNewSimulationNameValid()}">
                <label for="name" class="col-sm-2 control-label">Name</label>

                <div class="col-sm-10">
                    <input label="label" id="name" type="text" placeholder="Label" class="form-control"
                           ng-model="newSimulation.name">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !isNewSimulationUrlValid(), 'has-success': isNewSimulationUrlValid()}">
                <label for="entryUrl" class="col-sm-2 control-label">Start URL</label>

                <div class="col-sm-10">
                    <input label="label" id="entryUrl" type="text" placeholder="Label" class="form-control"
                           ng-model="newSimulation.entryUrl">
                </div>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': !isNewSimulationPrefixValid(), 'has-success': isNewSimulationPrefixValid()}">
                <label for="urlPrefix" class="col-sm-2 control-label">URL Prefix</label>

                <div class="col-sm-10">
                    <input label="label" id="urlPrefix" type="text" placeholder="Label" class="form-control"
                           ng-model="newSimulation.urlPrefix">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-default" ng-click="cancelSimulationCreation()">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="!isNewSimulationValid()">Start</button>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            Existing simulations
            <span class="badge">{{simulations.length}}</span>
        </div>
        <ul class="list-group">
            <li ng-repeat="simulation in simulations" class="list-group-item">
                <a ng-href="{{viewSimulationLink(simulation)}}">
                    {{simulation.name}}
                </a>
                <span class="text-muted hidden-xs">{{simulation.entryUrl}}</span>
            </li>
        </ul>
    </div>
</div>
</div>